<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>lightOfLife.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>168A48F81BBF4715000E4D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168A49101BBF4715000E4D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>168A491B1BBF4716000E4D24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
